[submodule "semestr-8/matematyczne-podstawy-sztucznej-inteligencji/simplified-page-rank"]
	path = semestr-8/matematyczne-podstawy-sztucznej-inteligencji/simplified-page-rank
	url = https://github.com/mnajborowski/simplified-page-rank
